body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff6347;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin: 0;
    color: pink
}

h2 {
    background-color: #4682b4;
    padding: 10px;
    color: white;
}

h2+ p{
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}